//====================================================================================================
.header {
	&__page-logo img {
		width: rem(130);
		height: rem(130);
	}
}
.header__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: $headerConteinerHeight;
	width: 100%;
	background: radial-gradient(50% 50% at 50% 50%, #703201 44.27%, rgba(154, 106, 60, 0.97) 97.4%);
	padding: 10px;
}

.site-name-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__site-name {
		font-family: "BodonBd";
		font-style: normal;
		font-weight: 400;
		font-size: 75px;
		line-height: 82px;
		text-align: center;
		color: $yellowColor;
		-webkit-text-stroke: 2px $blueColor;
		letter-spacing: 10px;
	}
	&__site-description {
		font-family: "Roboto";
		font-style: normal;
		font-size: 33px;
		font-weight: 500;
		letter-spacing: 5px;
		color: $blueColor;
		text-shadow: 1px 1px 1px $yellowColor;
		// -webkit-text-stroke: 1px $yellowColor;
	}
}

.header__page-lang-switch {
	display: none;
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
