.brown {
	background-color: $liteBrownColor;
}

.header {
	&__page {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	&__page-container {
		width: rem(1600);
		display: flex;
		align-items: center;
		gap: rem(20);
	}

	&__page-logo img {
		height: $headerConteinerHeight;
	}

	&__page-menu {
		width: 100%;
	}

	&__page-menu ul {
		display: flex;
		justify-content: start;
		gap: rem(70);
	}

	&__page-menu a {
		font-size: rem($fontSizeMenuHeader);
		color: $liteGray;
		font-weight: 700;
	}

	&__page-lang-switch {
	}

	&__page-lang-switch a {
		color: $yellowColor;
		font-size: rem($fontSizeLandSwitch);
		font-weight: 600;
	}
}
