//====================================================================================================
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Logo
.logo {
	margin-bottom: $logoMarginBottom;
}
.logo img {
	width: $logoWidth;
}

// Social icons
.social-icons-block {
	display: inline-flex;
	gap: rem(155);
	margin-bottom: $marginBottomSocialIcons;

	& a {
		font-size: $sizeSocialIcons;
		color: $brownColor;
	}
}

// Main menu
.main-menu {
	color: $brownColor;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: rem(10);
	width: 80%;

	&__block {
		background: $liteGray;
		border-radius: $borderRadius;
		flex: 1 1 calc((100% / 5) - 2rem);
		height: $heightMainMenuBlock;
		padding: 20px;
	}

	& a {
		color: $liteBrownColor;
		font-size: $sizeTitleMainMenu;
		font-weight: bold;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	& a::before {
		font-size: $sizeIconMainMenu;
		color: $brownColor;
	}

	& p {
		color: $grayColor;
		font-size: $fontSizeItemContentMainMenu;
	}
}

//====================================================================================================
