//====================================================================================================
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Logo
.custom-logo {
	margin-bottom: $logoMarginBottom;
}
.logo img {
	width: $logoWidth;
}

// Social icons
.social-icons-block {
	display: inline-flex;
	gap: rem(155);
	margin-bottom: $marginBottomSocialIcons;

	a {
		display: inline-block;
	}
	object {
		pointer-events: none;
		height: 150px;
	}
}

.social-icons-block__item a {
	font-size: 0;
}

// Main menu
.main-menu {
	color: $brownColor;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	flex-wrap: wrap;
	grid-gap: 0.5vw;
	width: 80%;

	&__block {
		background: $liteGray;
		border-radius: $borderRadius;
		padding: 5px 20px;
		box-shadow: 0 0 10px rgb(144, 37, 22, 0.5); /* Параметры тени */
	}

	& a {
		color: $liteBrownColor;
		font-size: $sizeTitleMainMenu;
		font-weight: bold;
		align-items: center;
		gap: 10px;
		padding-bottom: 5px;
		line-height: rem(25);
	}

	& li {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(20);
		padding: 10px;
	}

	& li p {
		display: block;
	}

	& li::before {
		font-size: $sizeIconMainMenu;
		color: $brownColor;
	}
	// & a::before {
	// 	font-size: $sizeIconMainMenu;
	// 	color: $brownColor;
	// }

	& p {
		color: $grayColor;
		font-size: $fontSizeItemContentMainMenu;
		display: block;
	}
}

//====================================================================================================
