.page_my {
	display: flex;
	justify-content: center;
	background: #ffe4bf;
	padding: rem(30);
	color: $grayColor;
	height: 100%;

	& .container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(30);
	}

	&__article {
		display: grid;
		grid-template-columns: 1fr 400px;
		gap: 20px;
	}

	&__titile {
		display: block;
		font-size: rem($fontSizeArticleTitle);
		font-weight: 700;
		letter-spacing: 5px;
		margin-bottom: rem(20);
	}

	&__date-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(20);
	}

	&__date {
		font-size: rem(20);
		font-weight: 500;
	}

	&__author {
		font-size: rem(24);
		font-weight: 500;
	}

	&__content {
		font-size: rem($fontSizePageContent);
		text-align: justify;
		color: #000;
		text-indent: 80px;
		line-height: rem($lineHeightPageContent);
	}

	&__content::first-letter {
		color: $liteBrownColor;
		font-size: 50px;
		font-weight: 900;
		font-family: "Pacifico";
	}

	&__content p {
		margin-bottom: rem(30);
	}

	&__bottom-widget {
		color: $brownColor;
		font-weight: 700;
		font-size: larger;
	}

	&__sidebar {
		// display: flex;
		// flex-direction: column;
		max-width: rem(400);
		background: $liteGray;
		border: 3px solid $liteBrownColor;
		border-radius: 27px;
		padding: 10px;
		height: fit-content;
	}

	&__sidebar-widget {
		background: #fff;
		padding: 20px;
		border-radius: 20px;
		margin-bottom: 20px;
	}

	&__sidebar-widget-title h2 {
		color: $liteBrownColor;
		font-size: rem(44);
		font-weight: 600;
		margin-bottom: rem(20);
	}

	&__sidebar-social-icons-block {
		display: flex;
	}

	&__sidebar-widget-title-entry {
		color: #000;
		font-size: rem(28);
		font-weight: 700;
		margin-bottom: rem(10);
	}

	&__sidebar-widget-content-entry {
		color: #000;
		font-size: rem(24);
		margin-bottom: rem(10);
	}

	&__sidebar-widget-phone {
	}

	&__sidebar-widget-adress {
	}

	&__sidebar-social-icons-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(20);
	}

	&__sidebar-widget-phone {
		font-size: rem(24);
		font-weight: 700;
		margin-bottom: rem(20);
	}

	&__sidebar-widget-adress {
		font-size: rem(24);
		font-weight: 900;
		color: $liteBrownColor;
	}
}

.social-icons-block {
	&__item {
		font-size: rem(50);
		color: $brownColor;
	}
}

.img-in-page {
	display: flex;
	flex-direction: column;
	margin-right: rem(25);
	float: left;
	width: 30%;

	& img {
		width: 100%;
		margin: 0;
	}
	& .img-in-page-desc {
		color: $liteBrownColor;
		font-style: italic;
	}
}
