.page {
	display: flex;
	justify-content: space-around;
	background: #ffe4bf;
	padding: rem(30);
	color: $grayColor;

	& .container {
		display: flex;
		justify-content: center;
		gap: rem(30);
	}

	&__article {
	}

	&__titile {
		font-size: rem($fontSizeArticleTitle);
		font-weight: 700;
		letter-spacing: 5px;
	}

	&__date-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(20);
	}

	&__date {
		font-size: rem(20);
		font-weight: 500;
	}

	&__author {
		font-size: rem(24);
		font-weight: 500;
	}

	&__content {
		height: 100%;
		font-size: rem($fontSizePageContent);
		text-align: justify;
		color: #000;
		text-indent: 80px;
		line-height: rem($lineHeightPageContent);
	}

	&__content::first-letter {
		color: $liteBrownColor;
		font-size: 50px;
		font-weight: 900;
		font-family: "Pacifico";
	}

	&__content p {
		margin-bottom: rem(30);
	}

	&__bottom-widget {
		color: $brownColor;
		font-weight: 700;
		font-size: larger;
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
	}

	&__sidebar-widget {
	}

	&__sidebar-social-icons-block {
		display: flex;
	}

	&__sidebar-widget-title {
	}

	&__sidebar-widget-title-entry {
	}

	&__sidebar-widget-content-entry {
	}

	&__sidebar-widget-phone {
	}

	&__sidebar-widget-adress {
	}
}
.social-icons-block {
	&__item {
	}
}

.img-in-page {
	display: flex;
	flex-direction: column;
	margin-right: rem(25);
	float: left;
	width: 30%;
	& img {
		width: 100%;
		height: 100%;
	}
	& .img-in-page-desc {
		color: $liteBrownColor;
		font-style: italic;
	}
}
