// Colors
$yellowColor: #eddd25;
$blueColor: #1972c2;
$brownColor: #270006;
$liteBrownColor: rgb(144, 37, 22);
$grayColor: #2c2824;
$liteGray: #f8f5e6;
$superLiteGray: #d9d9d9;

// Frontpage---------------------------------------------------
// Header
$headerConteinerHeight: 130px;

// Logo
$logoWidth: 300px;
$logoMarginBottom: 10px;

// Social Icons
$sizeSocialIcons: 40px;
$marginBottomSocialIcons: 30px;

// Main menu
$sizeIconMainMenu: 50px;
$sizeTitleMainMenu: 35px;
$borderRadius: 30px;
$heightMainMenuBlock: 150px;
$fontSizeItemContentMainMenu: 22px;
// ------------------------------------------------------------

// Page-------------------------------------------------------
// Header
$fontSizeMenuHeader: 35;
$fontSizeLandSwitch: 32;

// Content
$fontSizeArticleTitle: 64;
$fontSizePageContent: 26;
$lineHeightPageContent: 28;
// --------------------------------------------------------
// Footer
$footerHeight: 100px;
